<header class="header_nav" >
  <a href="/" class="logo">MÚSICA-GRUPO26</a>
  <nav role="navigation" >
    <a class="menu-icon fa fa-bars journal-glyph-icon-round menu-icon-mobil" tabindex='-1' ></a>

    <ul class="menu_ul">
      <li class="menu_li"><a href="/" class="menu_nav" i18n>Inicio</a></li>
      <li class="menu_li"><a href="/albums/list" class="menu_nav" i18n>Álbumes</a></li>
      <li class="menu_li"><a href="/musicians/list" class="menu_nav" i18n>Músicos</a></li>
      <li class="menu_li"><a href="/collectors/list" class="menu_nav" i18n> Coleccionistas</a></li>
      <li class="menu_li"><a href="/prizes/list" class="menu_nav" i18n>Premios 28</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
